<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 style="font-size: 100px; font-family: fantasy; text-align: center;">Curriculo</h1>
    </header>
    <main><h1><strong>Thiago</strong></h1></main>
    <div>
        <p>Thiago Henrique S. dos Santos</p>
        <p>Email: thiago@gmail.com</p>
        <p>Contato: (81)99999-9999</p>
        <p>Endereço: Rua Catatal, 203 - bairro da jaca, Bahia, Brasil</p>
    </div>
    
    <hr>

    <div>
        <h1>OBJETIVOS</h1>
        <ul>
            <li>Segurança financeira</li>
            <li>Progredir na area</li>
            <li>Buscar qualificações melhores para progredir na empresa</li>
        
        </ul>
    </div>

    <br>

    <div>
        <h1>FORMAÇÕES</h1>
        <ul>
            <li>Ensino Médio Completo</li>
        </ul>
    </div>

    <br>

    <div>
    <h1>CURSOS COMPLEMENTARES</h1>
    <ul>
        <li>Auxiliar Administrativo</li>
        <li>Programação WEB</li>
    </ul>
    </div>

    <br>

    <div>
        <h1>EXPERIÊNCIA</h1>
        <ul>
            <li>Comerciante em Mercearia</li>
        </ul>
    </div>

    <footer>Feito por: <strong>Thiago Henrique

    </strong></footer>
</body>
</html>